@CHARSET "UTF-8";

body {
font: 12px verdana, arial, helvetica, sans-serif;
background-color:#FFFFFF;
} 

table.wwFormTable {
font: 12px verdana, arial, helvetica, sans-serif;
border-width: 1px;
border-color: #030;
border-style: solid;
color: #242;
background-color: #ada;
width: 30%;
margin-left:15px;
margin-right:15px;
margin-top:15px;
} 

table.wwFormTable th {
}

table.wwFormTable tr td {
background-color: #dfd;
margin: 5px;
padding: 5px;
}

.tdLabel {
/*
border-width: 1px;
border-color: #afa;
border-style: solid;
*/
font-weight: bold;
align: top;
} 

.label {
} 

.errorMessage {
color: red;
font-size: 0.8em;
} 

#headerDiv {
border-style: solid;
border-width: 1px 1px 0px;
border-color: black;
padding: 5px;
background-color: #7a7;
/* height: 22px; */
height: 1.8em;
/* margin-bottom: 12px; */
}

#buttonBar {
border-width: 0px 1px 1px;
border-style: solid;
border-color: black;
color: white;
margin-bottom: 12px;
background-color: #7a7;
height: 1.6em;
padding: 5px;
}

#appName {
color: white;
font-size: 1.8em;
}

#pageTitle {
font-size: 1.4em;
color: #dfd;
clear: none;
}

#appName, #pageTitle {
float: right;
}

#menuContainer {
float: left;
}

#brandingContainer {
float: right;
text-align: right;
}

#entete{
	height:140px;
	overflow:hidden;
	background-image:url(bordure_haut.png);
	background-repeat: repeat-x;
	text-align: right;
	font-size: large;
}
.logout{
	margin-right:20px;
}
#coin{
	background-image:url(coin.png);
	position:absolute;
	top: 133px;
	height: 15px;
	width: 150px;
	background-repeat: no-repeat;
}
#logo{
	text-align: center;
}
#menu{
	width:150px;
	float:left;
	min-height: 1px;
	height: 100%;
	overflow:hidden;
	background-image:url(bordure_gauche.png);
	background-repeat: repeat-y;
}
.vuecss{
margin-left : 160px;
}
#right{
	padding:5px;
	min-height: 1px;
	float:left;
}
#pied{
	border-top:1px solid blue;
}
div.list:hover{
	cursor:pointer;
}
.list{
	text-decoration: underline;
}
.disable{
	font-weight:bold;
}
.list-selected{
}
.button{
}
.textfield{
}

/*pour liste couleur ON OFF*/
.yui-skin-sam .yui-dt tbody td.up {
	background-color: #efe;
}
.yui-skin-sam .yui-dt tbody td.down {
	background-color: #fee;
}