@CHARSET "UTF-8";

body {
margin:0px;
} 

table.wwFormTable {
	font: 12px verdana, arial, helvetica, sans-serif;
	border:1px solid #7F7F7F;
	border-collapse:collapse;
	border-spacing:0;
	color: black;
	
	width: 30%;
	margin-left:35%;
	margin-right:35%;
	margin-top:15%;
}

table.tableau {
	font: 12px verdana, arial, helvetica, sans-serif;
	border:1px solid #7F7F7F;
	border-collapse:collapse;
	border-spacing:0;
	color: black;
	
	width: 40%;
	margin-right:15px;
	margin-top:15px;
}
table.tableau tr td {
	background-color: #fff;
	border-color:#CBCBCB;
	border-style:solid;
	border-width:1px;
	margin:0;
	padding:5px;
}

table.wwFormTable th {
}

table.wwFormTable tr td {
	background-color: #fff;
	border-color:#CBCBCB;
	border-style:solid;
	border-width:1px;
	margin:0;
	padding:0px;
	text-align:center;
}

.tdLabel {
/*
border-width: 1px;
border-color: #afa;
border-style: solid;
*/
text-align: left;
font-weight: bold;
align: top;
background:#D8D8DA url(sprite.png) repeat-x 0 0;
} 

.label {
	width: 100%;
} 

.errorMessage {
color: red;
font-size: 0.8em;
} 

#headerDiv {
border-style: solid;
border-width: 1px 1px 0px;
border-color: black;
padding: 5px;
background-color: #7a7;
/* height: 22px; */
height: 1.8em;
/* margin-bottom: 12px; */
}

#buttonBar {
border-width: 0px 1px 1px;
border-style: solid;
border-color: black;
color: white;
margin-bottom: 12px;
background-color: #7a7;
height: 1.6em;
padding: 5px;
}

#appName {
color: white;
font-size: 1.8em;
}

#pageTitle {
font-size: 1.4em;
color: #dfd;
clear: none;
}

#appName, #pageTitle {
float: right;
}

#menuContainer {
float: left;
}

#brandingContainer {
float: right;
text-align: right;
}

#entete{
	height:140px;
	overflow:hidden;
	background-image:url(bordure_haut.png);
	background-repeat: repeat-x;
	text-align: right;
	font-size: large;
	position:relative;
	z-index:2;
}
.logout{
	margin-right:20px;
}
#coin{
	background-image:url(coin.png);
	position:absolute;
	top: 125px;
	height: 15px;
	width: 150px;
	background-repeat: no-repeat;
}
#logo{
	text-align: center;
}
.login{
	text-align:center;
	margin: 10px;
}
#menu{
	width:150px;
	float:left;
	min-height: 1px;
	height: 100%;
	overflow:hidden;
	background-image:url(bordure_gauche.png);
	background-repeat: repeat-y;
	position:relative;
	z-index:1;
	margin-top:-140px;
}
.vuecss{
margin-left : 160px;
}
#right{
	padding:5px;
	min-height: 1px;
	float:left;
}
#pied{
	border-top:1px solid blue;
}
div.list:hover{
	cursor:pointer;
	background-image:url(puce.jpg);
 	background-repeat:no-repeat;
 	background-position:0% 65%;
 	text-decoration: underline;
}
.list{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 100%;
	font-weight:bold;
	color: #071359;
	margin-left:5px;
 	padding-left:20px;
 	padding-top: 5px;
}
.disable{
	font-weight:bold;
}
.list-selected{
}
.button{
}
.textfield{
}
.h1{
	font: 40px verdana;
	font-weight:bold;
	text-decoration: underline;
	color: #0C1B76;
	background-image:url(petit_logo1.jpg);
 	background-repeat:no-repeat;
 	background-position:0% 65%;
 	padding-left: 60px;
 	margin-bottom:10px;
}
h2{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 18px;
	color:#0C1B76;
	padding: 5px;
	text-align: justify;
}
h3{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 15px;
	color:#1832B2;
	padding: 5px;
	text-align: justify;
}
.maison{
	text-align: center;
	padding-left: 15px;
	padding-rigth: 20px;
}
/*pour liste couleur ON OFF*/
.yui-skin-sam .yui-dt tbody td.up {
	background-color: #efe;
}
.yui-skin-sam .yui-dt tbody td.down {
	background-color: #fee;
}
/*Style pour les tabs desactive (grise)*/
.yui-skin-sam .yui-navset .yui-nav li.disabled {
    opacity: .5;
}
.yui-skin-sam .yui-navset .yui-nav li.disabled a, .yui-skin-sam .yui-navset .yui-nav li.disabled a:hover {
    background:#D8D8D8 url(sprite.png) repeat-x scroll 0% 50%;
    cursor: default;
}
/*Style pour le popup d'edition*/
label { 
	display:block;
	float:left;
	clear:left;
	width:45%;
}

.clear { 
	clear:both;
}
/*Validation des formulaire d'edition*/
.validation-failed { /* for textboxes, textareas, passwords */
	border:1px dashed #F33;
	background-color:#FCC;
}

.validation-failed-cr { /* for checkboxes and radios */

}

.validation-failed-sel { /* for selects */

}

.validation-passed { /* for textboxes, textareas, passwords */
	border:1px solid #6C6;
	background-color:#CFF;
}

.validation-passed-cr { /* for checkboxes and radios */

}

.validation-passed-sel { /* for selects */

}